.contenedorCarrito{
    background: linear-gradient(#cbcdd5, #9198e5);
    display: flex !important;
    justify-content: center !important;
    min-height: 100vh;
    min-width: 100vw;
}

.mensajeCarritoVacio{
    display: flex !important;
    justify-content: center !important;
}