.datosStock{
    background-color: rgb(179, 182, 184);
    color: rgb(45, 46, 46);
    justify-content: center;
    justify-self: center;
    border-radius: 5px;
    width: fit-content;
}

.datosPrecio{
    font-weight: bold;
}

.cardMundoMarvel{
    border-radius: 10px;
    /*border-color: brown;*/
    /*border-width: 0.1rem;*/
    /* box-shadow: 4px 4px gray; */
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: rgb(37, 39, 34);
}
