.navbar-toggler-icon{
    background-color: white;
}

.navA{
    color: white;
    text-decoration: none;
}

.navA hover,
a:hover,
a.active,
.navA .active{
    color:black;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid brown;
}

.navbar-nav{
    align-items: center;
}